<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_bg_vippmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,147},{697,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,46}}</string>
                <key>sourceSize</key>
                <string>{697,46}</string>
            </dict>
            <key>plane_dt_icon_dwlq.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,497},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>plane_dt_img_jzta1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,417},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>plane_dt_img_qip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,307},{260,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,28}}</string>
                <key>sourceSize</key>
                <string>{260,28}</string>
            </dict>
            <key>plane_dt_img_wzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,336},{194,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,80}}</string>
                <key>sourceSize</key>
                <string>{194,80}</string>
            </dict>
            <key>plane_game_bg_tipslanlv.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,414},{106,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,82}}</string>
                <key>sourceSize</key>
                <string>{106,82}</string>
            </dict>
            <key>plane_game_bg_xiaohao.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,737},{106,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,20}}</string>
                <key>sourceSize</key>
                <string>{106,20}</string>
            </dict>
            <key>plane_game_btn_zhuafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,222},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>plane_game_icon_bujilb.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,394},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>plane_game_icon_changwanlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,414},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>plane_game_icon_daodanlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,476},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>plane_game_icon_qihanglb.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,313},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>plane_game_icon_shouchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,642},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>plane_game_txt_autokaipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,320},{183,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,37}}</string>
                <key>sourceSize</key>
                <string>{183,37}</string>
            </dict>
            <key>plane_game_txt_changankaipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,604},{123,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,37}</string>
            </dict>
            <key>plane_ty_img_dlg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,230},{228,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,225}}</string>
                <key>sourceSize</key>
                <string>{228,225}</string>
            </dict>
            <key>plane_ty_img_pmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{632,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,35}}</string>
                <key>sourceSize</key>
                <string>{632,35}</string>
            </dict>
            <key>plane_ty_img_txk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,797},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>plane_yxjm_bg_djts.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,618},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>plane_yxjm_bg_dlts.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,194},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>plane_yxjm_bg_gdzk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,456},{74,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,294}}</string>
                <key>sourceSize</key>
                <string>{74,294}</string>
            </dict>
            <key>plane_yxjm_bg_gntc.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,230},{277,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,76}}</string>
                <key>sourceSize</key>
                <string>{277,76}</string>
            </dict>
            <key>plane_yxjm_bg_gntc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,635},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>plane_yxjm_bg_gntc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,758},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>plane_yxjm_bg_gntc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,230},{165,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,89}}</string>
                <key>sourceSize</key>
                <string>{165,89}</string>
            </dict>
            <key>plane_yxjm_bg_hpjdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,392},{147,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,21}}</string>
                <key>sourceSize</key>
                <string>{147,21}</string>
            </dict>
            <key>plane_yxjm_bg_hpjdtd.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,737},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>plane_yxjm_bg_suod.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,722},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>plane_yxjm_bg_suod1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,417},{130,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,69}}</string>
                <key>sourceSize</key>
                <string>{130,69}</string>
            </dict>
            <key>plane_yxjm_bg_suod2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,497},{127,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,59}}</string>
                <key>sourceSize</key>
                <string>{127,59}</string>
            </dict>
            <key>plane_yxjm_bg_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,358},{220,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,33}}</string>
                <key>sourceSize</key>
                <string>{220,33}</string>
            </dict>
            <key>plane_yxjm_btn_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,786},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>plane_yxjm_btn_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,797},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>plane_yxjm_icon_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,69},{135,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,67}}</string>
                <key>sourceSize</key>
                <string>{135,67}</string>
            </dict>
            <key>plane_yxjm_icon_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,394},{50,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,77}}</string>
                <key>sourceSize</key>
                <string>{50,77}</string>
            </dict>
            <key>plane_yxjm_icon_duojq.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,222},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>plane_yxjm_icon_fcdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,739},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>plane_yxjm_icon_gblj.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,642},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>plane_yxjm_icon_gd.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,559},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>plane_yxjm_icon_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,555},{49,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>plane_yxjm_icon_hlsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,642},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>plane_yxjm_icon_kb.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,780},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>plane_yxjm_icon_kh.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,709},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>plane_yxjm_icon_kh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,632},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>plane_yxjm_icon_kh_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,472},{82,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,23}}</string>
                <key>sourceSize</key>
                <string>{82,23}</string>
            </dict>
            <key>plane_yxjm_icon_liaoj.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,753},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>plane_yxjm_icon_liaoj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,619},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>plane_yxjm_icon_miaoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,309},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>plane_yxjm_icon_renw.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,555},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>plane_yxjm_icon_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,336},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>plane_yxjm_icon_tc.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,568},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>plane_yxjm_icon_xh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,780},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>plane_yxjm_icon_zuiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1},{135,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,67}}</string>
                <key>sourceSize</key>
                <string>{135,67}</string>
            </dict>
            <key>plane_yxjm_img_ddwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,797},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>plane_yxjm_img_djs.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,722},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>plane_yxjm_img_hlsj_jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,199},{146,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,22}}</string>
                <key>sourceSize</key>
                <string>{146,22}</string>
            </dict>
            <key>plane_yxjm_img_hlsj_jdtd.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,176},{146,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,22}}</string>
                <key>sourceSize</key>
                <string>{146,22}</string>
            </dict>
            <key>plane_yxjm_img_hpjdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,557},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>plane_yxjm_img_kzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,145}}</string>
                <key>sourceSize</key>
                <string>{720,145}</string>
            </dict>
            <key>plane_yxjm_img_suod.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,474},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>plane_yxjm_img_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,753},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>plane_yxjm_img_xhclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,619},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>plane_yxjm_img_xhqp.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,137},{128,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,38}}</string>
                <key>sourceSize</key>
                <string>{128,38}</string>
            </dict>
            <key>plane_yxjm_img_xlgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,456},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>plane_yxjm_img_ylwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,561},{214,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,57}}</string>
                <key>sourceSize</key>
                <string>{214,57}</string>
            </dict>
            <key>public_gxhd_bg_wpk .png</key>
            <dict>
                <key>frame</key>
                <string>{{237,619},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>qpzj_eff_kh.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,393},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_menu_pl.png</string>
            <key>size</key>
            <string>{858,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6cf6814dbcbf426f1208008f5773a87$</string>
            <key>textureFileName</key>
            <string>p_menu_pl.png</string>
        </dict>
    </dict>
</plist>
